* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#header-container {
    background-color: white;
    display: flex;
    padding: 10px 0;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header {
    position: relative;
    left: 20px;
    display: flex;
    width: 900px;
    font-size: 20px;
    color: black;
}

#page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 224, 230);
}

#table-of-contents {
    position: fixed;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 300px;
    left: 17%;
    top: 140px;
    padding: 20px;
}

.contents {
    margin-left: 15px;
    padding-top: 10px;
}

figure {
    padding: 40px 0 60px 0;
}

pre {
    margin: 0; 
    line-height: 125%;
    color: white;
}

.code {
    background: #272822; 
    overflow:auto;
    width:auto;
    border:solid gray;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
}

.tag {
    color: #f92672
}

.attribute {
    color: #a6e22e
}

.value {
    color: #e6db74
}

figcaption {
    text-align: center;
}

#post {
    margin: 140px 0px 60px 60px;
    border: 1px solid rgb(204, 204, 204);
    width: 40vw;
    border-radius: 5px;
    background-color: white;
    padding: 40px;
}

h1 {
    padding-bottom: 30px;
}

#menu {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 300px;
    position: absolute;
    text-align: center;
    left: 75%;
    top: 140px;
    padding-top: 50px;
}

.github-logo {
    padding-top: 20px;
}

#footer-container {
    background-color: white;
    padding: 10px 0;
}

.footer {
    text-align: center;
}
