* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    height: 130px;
}

.header {
    display: flex;
    width: 900px;
    justify-content: space-around;
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#posts {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.post {
    position: relative;
    margin: 20px;
    border: 2px solid black;
    width: 50vw;
}

.post-header {
    font-size: 50px;
}

.post-content {
    font-size: 25px;
}

.read-post {
    font-size: 20px;
}