* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(218, 224, 230);
}

a {
    text-decoration: none;
    color: black;
}

.header-container {
    background-color: white;
    display: flex;
    padding: 10px 0;
}

.header {
    position: relative;
    left: 20px;
    display: flex;
    width: 900px;
    font-size: 20px;
    color: black;
}

#posts {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 80px;
}

.post {
    position: relative;
    margin: 30px;
    border: 1px solid rgb(204, 204, 204);
    width: 50vw;
    border-radius: 5px;
    background-color: white;
}

.post:hover {
    border: 1px solid black;
}

.post-header {
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 20px;
}

.post-content {
    font-size: 16px;
    padding: 40px;
}